@import "layout/structure";

.search {
    margin-bottom: 15px;
    padding: 5px 5px;
    width: 60%;

    h2 {
        font-size: 14px;
        font-weight: normal;
    }

    label {
        font-size: 12px;
    }
}

.post-container {
    width: 100%;
    overflow: hidden;
}

.post-authorised { 
    background: #F7FBFB;
    margin-bottom: 8px;
    padding-left: 6px;
    line-height: 30px;
    font-size: 16px;
}

.post-authorised-management {
    width: 91%;
    height: 30px;
    position: relative;
    clear: both;
}

.post-authorised-staff {
    // No idea why its suddenly got margin and needs to go back?
    margin-top: -12px;
    
}

.post-decide-accept {
    margin-bottom: 3px;

    a {
        color: #2AAE62;
    }
}

.post-decide-decline {
    a {
        color: #E44C40;
    }
}

.post-decide-accept, .post-decide-decline {
    //border: 1px solid #ccc;
    height: 68px;
    background: #F7FBFB;

    a:hover {
        text-decoration: none;
        font-size: 20px;
    }
}

.post-decide {
    width: 8%;
    height: 140px;
    float: right;
}

.post-decide-option {
    line-height: 72px;
    text-align: center;
}

.post-decide__icon {
    font-size: 25px;   
}

.post {
    //border: 1px solid #ccc;
    padding-right: 10px;
    padding-left: 10px;
    overflow: hidden;
    margin-bottom: 2px;
    background: #F7FBFB;
    height: 140px;
}

.post-management {
    width: 91%;
    float: left;
}

.post__image {
    float: left;
    padding: 1em 1em;
}

.post__info {
    
}

.post__title {
    font-size: 18px;
    margin-bottom: 8px;

    a {
        color: #231F20;
    }

    a:hover {
        color: #E44C40; 
        cursor: hand;
        text-decoration: underline;
    }
}

.post__details {
    color: #333333;
    font-size: 14px;

    a {
        color: #E44C40; 
        cursor: hand;
        text-decoration: underline;
    }
}

.post__details--notes {
    width: 60%;
    //margin-bottom: 8px;
    min-height: 40px;

    p {
        margin: 0;
    }
}

.post__details--extra-info {
    font-color: #666666;
}

.post__details--tags {
    margin-left: 20px;
    
}

.post__rate {
    float: right;
    margin-top: -65px;
}

.post__rate--number {
    margin-left: 14px;
    color: red;

}

.post__comments {
    font-size: 12px;
    color: #B7B7B7;

    a {
        color: #C0C0C0;    
    }

    a:hover {
        color: black;
    }
}

.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    
    border-bottom: 20px solid black;
    margin-bottom: 2px;
}

.arrow-up:hover {
    cursor: pointer;
    border-bottom: 20px solid red;    
}


.arrow-down {
    width: 0; 
    height: 0; 
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    
    border-top: 20px solid black;
}

.arrow-down:hover {
    cursor: pointer;
    border-top: 20px solid red;    
}


.filter-search {
    width: 100%;
    overflow: hidden;
}

.filter-search__choices {
    width: 60%;
    float: left;
    font-size: 14px;
    color: #6F6E6B;


}

.rating_switch {
    float: right;
    margin-right: 40px;
    position: relative;
}

.pagination {
    width: 100%;
    overflow: hidden;
    margin-top: 20px;

    a:hover {
        text-decoration: none;
    }

    ul {
        list-style: none;
        margin: 0;
        padding: 0;

        li {
            display: inline-block; 
            width: 32.333333%;
            
            &:first-child {
                text-align: left;
            }
        }

        .pagination__right {
            text-align: right;
        }
    }


}

.pagination__item {
    display: block;
    text-align: center;
    padding: 10px 4px;
    background: #2AAE62;
    height: 35px;
    color: white;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}


.pagination__item--previous {
    width: 150px;
    
}

.pagination__item--next {
    width: 150px;
    
}

