@import "layout/structure";

.main {
    width: 100%;
}

.container {
    margin: 0 auto;
    max-width: 780px;
     position: relative;
}

.page-title {
    background: #F7FBFB;
    padding: 5px;
    margin-bottom: 4px;
    text-transform: uppercase;
    text-align: center;
}

h1 {
    color: #364A5E;
    font-family: helvetica;
    font-weight: bold;
    font-size: 18px;
    margin-left: 40px;
    text-transform: lowercase;

    .red-text {
        color: #E44C40;
        font-size: 20px;
    }
}

.form {
    text-align: center;
}

.post-entry {
    text-align: center;

}
.form input[type=text], .form input[type=password] {
    display: inline-block;
    font-family: arial;
    color: #999999;
    margin: 10px auto;
    width: 270px;

}

small {
    display: inline-block;
    a {
    position: relative;
    left: 10px;
    }

}

p {
width: 419px;
text-align: left;
margin: 0 auto;
}

.form .form__text-label {
display: inline-block;
margin-bottom: 4px;
text-align: left;
width: 100px;
}

.form .form__submit {
    display: block;
    width: 100px;
    font-size: 16px;
    line-height: 30px;
    height: 33px;
    margin-top: 7px;
    margin-left: 104px;
    padding-bottom: 3px;
    width: 270px;
}

.form .forgot_btn {
    width: 150px;
    float: left;
}

.login_btn {
    position: absolute;
    right: 230px;
    bottom: -28px;
}

.intro {
    border: 1px solid #ccc;
    padding: 10px 10px;
    margin-bottom: 15px;
    


    h2 {
        margin-bottom: 0;
    }

    p {
        color: #AAAAAA;
        font-size: 12px;
    }
}

.image {
    border: 1px solid #ccc;
    float: left;
    margin-bottom: 20px;
    margin-right: 10px;
}

.description {
    margin-top: -20px;
    width: 60%;
    float: left;
}

.post-entry-rating {
    float: right;

    ul {

        li {
            a {
                color: #6F6E6B;
            }
        }
    }
}

.main {
    a {
        color: #E44C40;
    }
}

.comments {
    margin: 0;
    padding: 0;
    width: 100%;
}

.comments__list {
    
    width: 100%;
    padding-left: 8px;
    padding-top: 1px;
    padding-bottom: 1px;
    background: #F7FBFB;
    margin-bottom: 4px;

    .comments__list--author {
        color: #666666;
        font-size: 12px;
        margin-bottom: 8px;
    }

    .comments__list--comment {
        font-size: 14px;
        margin-bottom: 15px;
        word-wrap:break-word;
        font-color: #333333;
    }
}

.post-entry {
    background: #F7FBFB;
    color: #6F6E6B;
    padding: 10px;
    overflow: hidden;

    label {
        font-size: 16px;
        text-transform: uppercase;
    }

    h2 {
        a {
            color: #231F20;


        }

        a:hover {
            color: #E44C40;
            text-decoration: none;
        }
    }
}

/** Notifications **/

.notification {
    
}

.notification__new {
    color: red;
}

.comment-form {
    position: relative;
    width:100%;
    margin-top: 10px;
    background: #F7FBFB;
    padding-left: 6px;
}

.comment-form__body {
    width: 90% !important;
    border: 1px solid red;
    margin-top: 6px;
}

.error {
    margin: 0 auto;
    width: 54%;

    p {
        text-align: center;
    }
}

.success {
       margin: 0 auto;
    width: 54%; 

        p {
        text-align: center;
    }
}

.auto-suggest {
    border: 1px solid #ccc;
    height: auto;
    background: white;
    width: 31%;
    position: absolute;
    top: 65%;
    display: none;

    -webkit-box-shadow: 0 8px 6px -6px #ccc;
       -moz-box-shadow: 0 8px 6px -6px #ccc;
            box-shadow: 0 8px 6px -6px #ccc;

    ul {

        li {
            margin-top: 8px;
        }
    }

}