@import "layout/structure";

.intro {
    border: 1px solid #ccc;
    padding: 10px 10px;
    margin-bottom: 15px;
    


    h2 {
        margin-bottom: 0;
    }

    p {
        color: #AAAAAA;
        font-size: 12px;
    }
}

.image {
    border: 1px solid #ccc;
    float: left;
    margin-bottom: 20px;
    margin-right: 10px;
}

.description {
    margin-top: -20px;
    width: 60%;
    float: left;
}

.post-entry-rating {
    float: right;

    ul {

        li {
            a {
                color: #6F6E6B;
            }
        }
    }
}

.main {
    a {
        color: #E44C40;
    }
}

.comments {
    margin: 0;
    padding: 0;
    width: 100%;
}

.comments__list {
    
    width: 100%;
    padding-left: 8px;
    padding-top: 1px;
    padding-bottom: 1px;
    background: #F7FBFB;
    margin-bottom: 4px;

    .comments__list--author {
        color: #666666;
        font-size: 12px;
        margin-bottom: 8px;
    }

    .comments__list--comment {
        font-size: 14px;
        margin-bottom: 15px;
        word-wrap:break-word;
        font-color: #333333;
    }
}

.post-entry {
    background: #F7FBFB;
    color: #6F6E6B;
    padding: 10px;
    overflow: hidden;

    label {
        font-size: 16px;
        text-transform: uppercase;
    }

    h2 {
        a {
            color: #231F20;


        }

        a:hover {
            color: #E44C40;
            text-decoration: none;
        }
    }
}

/** Notifications **/

.notification {
    
}

.notification__new {
    color: red;
}

.comment-form {
    position: relative;
    width:100%;
    margin-top: 10px;
    background: #F7FBFB;
    padding-left: 6px;
}

.comment-form__body {
    width: 90% !important;
    border: 1px solid red;
    margin-top: 6px;
}

.auto-suggest {
    border: 1px solid #ccc;
    height: auto;
    background: white;
    width: 31%;
    position: absolute;
    top: 65%;
    display: none;

    -webkit-box-shadow: 0 8px 6px -6px #ccc;
       -moz-box-shadow: 0 8px 6px -6px #ccc;
            box-shadow: 0 8px 6px -6px #ccc;

    ul {

        li {
            margin-top: 8px;
        }
    }

}

.post__title {

    a {
       font-size: 16px; 
    }
    
}

/* Media Queries */
@media all and (min-width: 960px) and (max-width: 1024px) {

.rating_switch {
    right: 115px;
}

.management-switch {
    right: 21px;
}

.posters_list dt {
    border: 1px solid red;
width: 64%;
}

.post__details {
padding-right: 50px;
}
}
