@import "layout/structure";

.intro {
    border: 1px solid #ccc;
    padding: 10px 10px;
    margin-bottom: 15px;
    


    h2 {
        margin-bottom: 0;
    }

    p {
        color: #AAAAAA;
        font-size: 12px;
    }
}

.image {
    border: 1px solid #ccc;
    float: left;
    margin-bottom: 20px;
    margin-right: 10px;
}

.description {
    margin-top: -20px;
}



.main {
    a {
        color: #E44C40;
    }
}

.comments {
    margin: 0;
    padding: 0;
    width: 100%;
}

.comments__list {
    
    width: 100%;
    padding-left: 8px;
    padding-top: 1px;
    padding-bottom: 1px;
    background: #F7FBFB;

    .comments__list--author {
        color: #666666;
        font-size: 12px;
        margin-bottom: 8px;
    }

    .comments__list--comment {
        font-size: 14px;
        margin-bottom: 15px;
        word-wrap:break-word;
        font-color: #333333;
    }
}

.post-entry {
    background: #F7FBFB;
    color: #6F6E6B;
    padding: 10px;

    label {
        font-size: 16px;
        text-transform: uppercase;
    }
}

/** Notifications **/

.notification {
    
}

.notification__new {
    color: red;
}

.comment-form {
    position: relative;
    width:100%;
}

.auto-suggest {
    border: 1px solid #ccc;
    height: auto;
    background: white;
    width: 31%;
    position: absolute;
    top: 65%;
    display: none;

    -webkit-box-shadow: 0 8px 6px -6px #ccc;
       -moz-box-shadow: 0 8px 6px -6px #ccc;
            box-shadow: 0 8px 6px -6px #ccc;

    ul {

        li {
            margin-top: 8px;
        }
    }

}