@import "layout/structure";

.intro {
    border: 1px solid #ccc;
    padding: 10px 10px;
    margin-bottom: 15px;
    


    h2 {
        margin-bottom: 0;
    }

    p {
        color: #AAAAAA;
        font-size: 12px;
    }
}



.page-title {
    background: #F7FBFB;
    padding: 5px;
    margin-bottom: 4px;
    text-transform: uppercase;
}

h1 {
    color: #364A5E;
    font-family: helvetica;
    font-weight: bold;
    font-size: 18px;
    margin-left: 10px;
    text-transform: lowercase;

    .red-text {
        color: #E44C40;
        font-size: 20px;
    }
}

.image {
    border: 1px solid #ccc;
    float: left;
    margin-bottom: 20px;
    margin-right: 10px;
}

.description {
    margin-top: -20px;
    width: 60%;
    float: left;

    .description__title {
        margin-top: 20px;
        a {
            color: #231F20;
            font-weight: none;

        }

        a:hover {
            color: #E44C40;
            text-decoration: none;
        }
    }

    .submitted-by {
        a {
            color: #E44C40 !important;
        }  
        a:hover {
            text-decoration: underline !important;
        }
    } 

}

.columns {
    -webkit-column-count: 3;
    -webkit-column-gap: 10px;
    -webkit-column-fill: auto;
    -moz-column-count: 3;
    -moz-column-gap: 10px;
    column-count: 3;
    column-gap: 15px;
    column-fill: auto;
}


.post-entry-rating {
    float: right;

    ul {

        li {
            a {
                color: #6F6E6B;
            }
        }
    }
}

.main {
    a {
        color: #E44C40;
    }
}

.comments {
    margin: 0;
    padding: 0;
    width: 100%;
}

.comments__list {
    
    width: 100%;
    padding-left: 8px;
    padding-top: 1px;
    padding-bottom: 1px;
    background: #F7FBFB;
    margin-bottom: 4px;

    .comments__list--author {
        color: #666666;
        font-size: 12px;
        margin-bottom: 8px;
    }

    .comments__list--comment {
        font-size: 14px;
        margin-bottom: 15px;
        word-wrap:break-word;
        font-color: #333333;
    }
}

.post-entry {
    background: #F7FBFB;
    color: #6F6E6B;
    padding: 10px;
    overflow: hidden;

    label {
        display: inline-block;
        font-size: 16px;
        text-transform: uppercase;
    }

    .main_label {
        width: 150px;
    }

    p {
        //margin-top: 20px;
        a {
            color: #231F20;
            font-weight: none;

        }

        a:hover {
            color: #E44C40;
            text-decoration: none;
        }
    }
}

.post-images {
    margin-top: 10px;
    background: #F7FBFB;
    padding: 8px 10px 0;
    height: auto;
}

.post-images__image {
    display: inline-block;
    border: 2px solid #FAFAFA;
    box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
    margin: 0 2px 15px;
    -webkit-column-break-inside: avoid;
    -moz-column-break-inside: avoid;
    column-break-inside: avoid;
    padding: 15px;
    vertical-align: top;
    padding-bottom: 5px;
    opacity: 1;
    zoom: 1;
    width: 98%;
    *display: inline;

    
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;

    img {
        width: 100%;
        border-bottom: 1px solid #ccc;
        padding-bottom: 15px;
        margin-bottom: 5px;
    }
}

.post-images__image--download {
    margin: 8px 0 4px 4px;
}

.uploadify-button {
    border: 1px solid #ccc;
    background: #ccc;
    padding-left: 12px;

    span:after {
        content: "Upload";
    }
}

.post-add-image-list {
    margin-top: 20px;
    width: 794px;
    overflow: hidden;

    div {
        width: 254px;
        float: left;
        margin-right: 10px;
        overflow: hidden;
    }
}

.fallback_img_uploader {
    width: 254px;
    float: left;
    margin-right: 10px;
    overflow: hidden;
}

.delete-btn, .del-image {
    background: #E44C40; /* Old browsers */
    border: none;
    display: block;
    color: #FFF;
    font-family: TTRegular;
    font-size: 16px;
    cursor: pointer;
    padding: 6px;
    text-align: center;
    width: 80px;
    text-decoration: none;
    width: 80px;

    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;

    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;

    &:hover,
    &:focus {
        background: #C1392B; /* Old browsers */
    }
}

/** Notifications **/

.notification {
    
}

.notification__new {
    color: red;
}

.comment-form {
    position: relative;
    width:100%;
    margin-top: 10px;
    background: #F7FBFB;
    padding-left: 6px;
}

.comment-form__body {
    width: 90% !important;
    border: 1px solid red;
    margin-top: 6px;
}

.auto-suggest {
    border: 1px solid #ccc;
    height: auto;
    background: white;
    width: 31%;
    position: absolute;
    top: 65%;
    display: none;

    -webkit-box-shadow: 0 8px 6px -6px #ccc;
       -moz-box-shadow: 0 8px 6px -6px #ccc;
            box-shadow: 0 8px 6px -6px #ccc;

    ul {

        li {
            margin-top: 8px;
        }
    }

}

.post__title {

    a {
       font-size: 16px; 
    }
    
}

.form .form__submit {
    width: 150px;
}

.file-upload-js {
    margin: 10px 0;
}


#image_upload {
    display: inline-block;
}

small {
    margin-left: 10px;
}

.post-holder {
    margin: 0;
    padding: 0;
    overflow: hidden;
    vertical-align: top;

    .main_label {
        float: left;
    }

}

#image-list-js, .js-upload-container {
    overflow: hidden;
}

.display_block {
    position: relative;
    display: block;

    .js-ajax-loader {
        position: absolute;
        left: 160px;
        top: 8px;
        width: 50px;
    }
}



.form input[type=file] {
    display: inline-block;
}

.post_tags_inline {
    display: inline-block;
    float: left;
    margin: 0;
    line-height: 23px;
    width: 75%;

    label {
        text-transform: none;
    }
}


