.filter-bar {
	background: #EFF3F4;
	border-bottom: 1px solid #BDC2C7;
	border-top: 1px solid #BDC2C7;
	line-height: 44px;
	margin: 0;
	padding: 0 10px;
	position: relative;
	margin-bottom: 10px;

	.tags {
		list-style: none;
		margin: 0;
		padding: 0;
		width: 245px;
		vertical-align: middle;

		li {
			display: inline-block;
			margin: 0 5px 0 0;
			padding: 0;
			position: relative;
			vertical-align: middle;

			&:first-child {
				width: 38px;
			}

			&:last-child {
				margin-left: 5px;
				width: 40px;
			}
		}

		.filter_dropdown {
			cursor: hand;
			width: 135px;
			vertical-align: bottom;

			.filter_tags {
				background: white;
				border: 1px solid #6F6E6B;
				cursor: pointer;
				color: #6F6E6B;
				display: inline-block;
				height: 23px;
				line-height: 23px;
				padding: 0 5px;
				position: relative;
				width: 100%;
				border-radius: 4px;
				-moz-border-radius: 4px;
				-webkit-border-radius: 4px;

				.filter_tags--arrow {
					background: url(../images/fake_dropdown_arrow.png) no-repeat;
					content: "";
					height: 7px;
					right: 10px;
					margin: 0;
					padding: 0;
					position: absolute;
					top: 7px;
					width: 11px;
				}
			}
			.filter_tags--dropdown {
				display: none;
				position: absolute;
				top: 33px;
				width: 100%;
				z-index: 100;

				.filter_tags--options {

					border: 1px solid #6F6E6B;
					background: white;
					list-style: none;
					line-height: normal;
					margin: 0;
					padding: 0 5px;
					width: 100%;
					border-radius: 0 0 4px 4px;
					-moz-border-radius: 0 0 4px 4px;
					-webkit-border-radius: 0 0 4px 4px;
					width: 180px;

					li {
						line-height: normal;
						margin: 10px 0;
						padding: 0;
						width: 100%;

						label {
							cursor: pointer;
						}
					}
				}
			}
		}

		.go-btn {
			background: #2AAE62;
			border: 1px solid #2AAE62;
			font-size: 14px;
			line-height: 18px;
			color: white;
			text-transform: uppercase;
			border-radius: 4px;
			-moz-border-radius: 4px;
			-webkit-border-radius: 4px;
			cursor: pointer; 

			&:hover {
				background: darken(#2AAE62,10%)
			}
		}
	}

	.date_filter {
		position: absolute;
		margin: 0 0 0 -175px;
		font-size: 14px;
		left: 50%;
		top: 0;
		width: 350px;

		li {
			color: #6F6E6B;
			display: inline-block;
			font-size: 14px;
			float: left;
			margin: 0;
			padding: 0;
			width: 25%;



			a {
				color: #6F6E6B;
				padding-left: 10px;
				padding-right: 10px;
				border-left: 1px solid #6F6E6B;

				&:hover {
					color: #E44C40;
					text-decoration: underline;
				}
			}

			&:first-child {
				width: 50px;
			}

			&:nth-child(2) {
				width: 59px;

				a {
					border: none;
				}
			}

			&:nth-child(3) {
				width: 82px;;
			}
			&:nth-child(4) {
				width: 100px;;
			}
		}

			.date_filter_dropdown {
				cursor: hand;
				width: 135px;
				vertical-align: bottom;

				.date_filter_option {
					border-left: 1px solid #6F6E6B;
					cursor: pointer;
					color: #6F6E6B;
					display: inline-block;
					height: 14px;
					line-height: 14px;
					padding: 0 7px;
					position: relative;
					width: 100%;

					a {
						border: none;
						padding: 0;
						margin: 0;
					}

					.date_filter_dropdown--arrow {
						background: url(../images/fake_dropdown_arrow.png) no-repeat;
						content: "";
						height: 7px;
						left: 55px;
						margin: 0;
						padding: 0;
						position: absolute;
						top: 2px;
						width: 11px;
					}
				}
				
				.date_filter--dropdown {
					display: none;
					position: absolute;
					top: 31px;
					width: 100%;
					z-index: 100;

					.date_filter--options {
						border: 1px solid #6F6E6B;
						background: white;
						list-style: none;
						line-height: normal;
						margin: 0;
						padding: 0 5px;
						width: 100%;
						border-radius: 0 0 4px 4px;
						-moz-border-radius: 0 0 4px 4px;
						-webkit-border-radius: 0 0 4px 4px;
						width: 100px;
						overflow: hidden;

						li {
							display: block;
							line-height: normal;
							margin: 10px 0;
							padding: 0;
							width: 100%;

							a {
								display: inline-block;
								border: none;
								width: 100%;
								line-height: 18px;
							}

							label {
								cursor: pointer;
							}
						}
					}
				}
			}
	}

	.header__login {
		color: #6F6E6B;
		font-size: 14px;
	    position: absolute;
	    right: 10px;
	    top: 0;
	    margin: 0;
	    padding: 0;

	    a {
	    	color: #6F6E6B;
				&:hover {
					color: #E44C40;
					text-decoration: underline;
				}
	    }
	}

}